.prosetitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.postprose-wrapper .MuiPaper-root {
    padding: 1.5em;
    margin: 5em 1.5em 3em 1.5em;
}

.postprose-wrapper .MuiButton-root{
    margin-top: 1em;
    display: block;
    margin-left: auto;
}

@media screen and (max-width: 500px){
    .postprose-wrapper .MuiPaper-root {
        margin: 3em 0em 2em 0em;
        padding: 1.2em;
    }
}