.oopsie{
    font-size: 3.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
}

.oopsie-btn{
    text-transform: none !important;
    color: white !important;  
    font-family: 'Montserrat' !important;
    border-color: white !important;       
}
.oopsie-btn:hover{
    transition-delay: 40ms !important;
    color: rgb(0, 0, 0) !important;
    background-color: white !important;
}

.display-prompt-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
    /* padding-top: 3em; */
}

.used-prompts-wrapper{
    padding-left: 4.3em;  
    margin-right: 2em;
}

.used-prompts-wrapper .MuiPaper-rounded {
    border-radius: 15px !important;
    width: 23em;
    background-color: #e8e8e5;
}


.used-written-prompt {
    background-color:rgb(227, 217, 205);
    overflow-wrap: break-word;
    overflow: hidden;
}

.used-prompts-wrapper h2{
    margin: 0;
    color: rgb(121, 110, 84);
    height: 3.78em;
    max-height: 3.78em;
    padding: 1em;
    font-size: 3em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
/* ============================
           THUMBNAIL
   ============================
*/

.blur{
    filter: blur(7px);
}

.used-thumbnail{
    width: 23em;
    height: 17em;
    max-width: 23em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.text-meta-data{
    padding: 1.5em;
    padding-top: 0;
}

.used-prompts-wrapper h3{
    width: 285px;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
}

.used-story {
    overflow-wrap: break-word;
    overflow: hidden;
    height: 3.5em;
    margin-bottom: 2em;
}

.used-genres{
    overflow-wrap: break-word;
    overflow: hidden;
    height: 1.5em;
    margin-bottom: 0.85em;
    color:rgb(30, 154, 131);
}

/* ============================
           EDIT OPTIONS
   ============================
*/
.love-and-edit {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.love-and-edit img{
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}

.heart{
    margin-right: 0.6em;
    width: 1.65em !important;
    height: 1.65em !important;
}

.prompt-edit-btn{
    width: 1.65em !important;
    height: 1.65em !important;
}

.prompt-trash-btn{
    margin-left: 2.2em;
}

.writer{
    position: absolute;
    right: 0;

    width: 150px;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
}

/* ============================
           MEDIA QUERIES
   ============================
*/
@media screen and (max-width: 700px){

    .writer{
        right: -15px;
    }

    .display-prompt-container{
        flex-direction: column;
    }

    .used-prompts-wrapper{
        padding-left: 1em;
        margin-right: 1em;
    }
    .used-prompts-wrapper .MuiPaper-rounded {
        width: 20em;
    }

    .used-thumbnail{
        width: 20em;
    }
}

@media screen and (max-width: 350px){
    
    .writer{
        right: -30px;
    }

    .used-prompts-wrapper .MuiPaper-rounded {
        width: 17em;
    }
    .used-thumbnail{
        width: 17em;
    }

    .used-prompts-wrapper h3{
        width: 200px !important;
    }
}

@media screen and (max-width: 300px){
    .used-prompts-wrapper .MuiPaper-rounded {
        width: 15em;
    }
    .used-thumbnail{
        width: 15em;
    }

    .used-prompts-wrapper h3{
        width: 180px !important;
    }
}